.footerLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
}

.footerLinks h4 {
  color: hsl(273, 4%, 51%);
  padding: 35px 0;
  font-size: 14px;
  letter-spacing: 1px;
}

.footerLinks ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  list-style-type: none;
  color: hsl(256, 26%, 20%);
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
}

@media (min-width: 1440px) {
  .footerLinks {
    align-items: flex-start;
  }

  .footerLinks ul {
    align-items: flex-start;
  }

  .footerLinks ul li:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
