.footerMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.footerMedia .imgWrapper img {
  width: 110px;
  height: 18px;
}

.mediaWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  margin: 3px 0 15px;
}

.footerMedia hr {
  background-color: hsl(273, 4%, 51%, 0.4);
  height: 1px;
  width: 335px;
  border: none;
}

@media (min-width: 1440px) {
  .footerMedia {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid hsl(273, 4%, 51%, 0.4);
  }

  .footerMedia hr {
    display: none;
  }

  .mediaWrapper {
    justify-content: space-between;
    width: 13%;
  }

  .mediaWrapper img {
    cursor: pointer;
  }

  .mediaWrapper img:hover {
    filter: brightness(0.5);
  }
}
