.footerMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.footerMedia .imgWrapper img {
  width: 110px;
  height: 18px;
}

.mediaWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 55%;
  margin: 3px 0 15px
}

.footerMedia hr {
  background-color: hsl(273, 4%, 51%, 0.4);
  height: 1px;
  width: 335px;
  border: none;
}
